* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    background-color: lightseagreen;
}

.nav-links {
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 15px;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.a-carousel {
    text-decoration: none;
    color: lightseagreen;
    font-size: 32px;
    font-weight: bold;
}

.p-carousel {
    text-decoration: none;
    color: rgba(243, 126, 17, 0.856);
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-size: 48px;
    color: rgba(243, 126, 17, 0.856);
    border: solid black;
    border-radius: 100px;
    text-align: center;
    border-width: 5px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 60px;
}

.index-h3-section-anime-title {
    font-size: 32px;
    color: blue;
    border: 6px solid blue;
    text-align: center;
    margin: 10px;
}

.footer {
    font-size: 30px;
    color: green;
    border: 5px dashed green;
    text-align: center;
    margin: 20px;
}

.li-openings-1 {
    list-style: none;
}

.grid-attack-on-titan-openings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-openings-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-1-openings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-one-punch-man-openings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-openings-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-2-openings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-boku-no-hero-academia-openings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-openings-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-3-openings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-hunter-x-hunter-2011-openings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-openings-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-4-openings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-sword-art-online-openings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-openings-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-5-openings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.li-endings-1 {
    list-style: none;
}

.grid-attack-on-titan-endings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-endings-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-1-endings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-one-punch-man-endings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-endings-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-2-endings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-boku-no-hero-academia-endings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-endings-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-3-endings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-hunter-x-hunter-2011-endings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-endings-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-4-endings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-sword-art-online-endings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-endings-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-5-endings {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.h1-openings {
    font-size: 32px;
    color: blue;
    border: 6px solid blue;
    text-align: center;
    margin: 10px;
}

.h1-endings {
    font-size: 32px;
    color: blue;
    border: 6px solid blue;
    text-align: center;
    margin: 10px;
}

.a-openings {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.a-endings {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.h1-anime-list {
    font-size: 36px;
    color: red;
    text-align: center;
    margin: 40px;
}

.h2-anime-list {
    font-size: 24px;
    color: blue;
    border: 4px solid blue;
}

.p-anime-list {
    font-size: 20px;
    color: green;
}

.grid-attack-on-titan-anime-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-anime-list-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-1-anime-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-one-punch-man-anime-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-anime-list-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-2-anime-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-boku-no-hero-academia-anime-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-anime-list-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-3-anime-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-hunter-x-hunter-2011-anime-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-anime-list-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-4-anime-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-sword-art-online-anime-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
    margin: 40px;
}

.div-anime-list-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img-grid-5-anime-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}